.form {
    margin: 30px;
}


.notesTextArea {
    font-size: small;
    color: grey;
}

.cards {
    background-color: rgb(126, 126, 126);
    padding: 5px 10px;
    width: 250px;
    display: flex;
    flex-direction: row;
    border-radius: 5px;
}
